.contact-preview {
    display: flex;
    margin: auto;
    background-color: rgba(218, 165, 32, 0.61);
    color: white;
    width: 400px;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px
}

img {
    width: 100px;
    margin-right: 100px;
    
}

a {
    margin-top:30px;
    font-size:large;
    color:  rgb(75, 56, 9);
}